


.hidden{
    display: none!important;
}
.logo{
    display: flex;
}
.navbar{
 background: linear-gradient(180deg,#42a5f5,#2196f3);
}
h1{
    color: white;
}
input{

}
input:focus{
    outline: none!important;

}

.form-control:focus {
    color: #212529;
    background-color: #f5eded;
    border-color: #86b7fe;
    outline:none!important;
    box-shadow: none!important;
}
#new{
    max-width: 200px;
}